[Desktop Entry]
Encoding=UTF-8
Name=OpenFocuser-Manager CLI server
Comment=OpenFocuser-Manager stand-alone INDI server (port specified by settings).
Exec=/usr/bin/openfocuser -v -p=0
Icon=/usr/share/OpenFocuser-Manager/logo-terminal.png
Terminal=true
Type=Application
Categories=Application;Science;Astronomy;
StartupNotify=false