[Desktop Entry]
Encoding=UTF-8
Name=ThunderFocus
Comment=ThunderFocus control panel
Exec=/usr/bin/thunderfocus
Icon=/usr/share/ThunderFocus/logo.png
Terminal=false
Type=Application
Categories=Education
StartupNotify=true